<turbo-frame id="cart">
  <div class="bg-white shadow-md rounded-lg p-6 mx-auto" style="width: 800px; min-height: 70px;">
    <div class="flex justify-between items-center mb-6">
      <h1 class="text-2xl font-semibold text-dark-900 mb-4">Корзина</h1>

      <% if cart.line_items.any? %>
        <%= link_to "Очистить корзину", clear_cart_path(cart), class: "text-gray text-xs no-underline", data: { turbo_method: :delete, turbo_confirm: "Очистить всю корзину?" } %>
        </div>

        <div class="space-y-8">
          <% cart.line_items.each do |line_item| %>
            <%= render "line_items/line_item", line_item: line_item %>
          <% end %>
        </div>

        <div class="bg-white rounded-lg border border-b-2 border-light-100" style="margin-top: 20px;">
          <% if cart.subtotal_price >= cart.discount %>
            <% discount_max = cart.discount.to_i %>
          <% else %>
            <% discount_max = cart.subtotal_price %>
          <% end %>
          <%= render "carts/subtotal_price", cart: cart %>
          <%= render "carts/discount_value", cart: cart, input_discount: @discount, discount_max: discount_max %>
          <%= render "carts/discount_slider", cart: cart, input_discount: @discount, discount_max: discount_max %>

          <div class="flex justify-between items-center mt-6">
            <p class="text-dark-900 text-lg font-semibold">Сумма заказа:</p>
            <%= render "carts/total_price", cart: cart, input_discount: @discount %>
          </div>
        </div>
        <%= render "orders/form", cart: cart, input_discount: @discount %>
      <% else %>
        </div>
        <div class="flex-grow flex items-center justify-center" style="margin-top: 100px; margin-right: 60px;">
          <%= render "carts/empty_cart", cart: cart %>
        </div>
      <% end %>
      </div>
      </turbo-frame>